{% extends 'registration/base.html' %}

{% block body  %}

<div class="container mt-4" >
    <h2><b>Login</b> to proceed further....</h2>
    <div class="row"  >
        <div class="col col-lg-5  "  >
<form action="" method="POST">{% csrf_token %}
    <input type="text" class="form-control" name="username"  placeholder="Username">
    <input type="password" class="form-control mt-2"  name="password1"  placeholder="password">
    <input type="submit" class="btn btn-outline-info mt-2"   value="submit">
</form>
</div>
</div>
</div>
{% endblock body %}